/* =========== */
/*  Histogram   */
/* =========== */

.plot-window svg {
  font: 10px sans-serif;
  padding: 8px;
}

.plot-window .axis path,
.plot-window .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.plot-window path.plot-line {
  fill: none;
}
.plot-window path.plot-area {
  stroke: none;
}
.plot-window path.plot-bullet {
  fill: #fff;
}
