body {
    font: sans-serif;
    padding-top: 70px;
    background: url(../img/background.jpg) #000 no-repeat top center;
    background-attachment: fixed;
}

div#log {
    height: 100px;
    overflow: auto;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10px;
}

div#log div:first {
    font-weight: bold;
}

div#log .warn {
    color: #F60;
}

div#log .error {
    color: #F00;
}

div#log .done {
    color: #060;
}

div#log .info {
    color: #06F;
}

span.description {
    display: none;
}

span.running-text {
    color: #F00;
    font-size: 0.6em;
}

iframe#inlineModalFrame {
    border: none;
    width: 100%;
    height: 300px;
}

div.color-legend div.cl {
    width: 12px;
    height: 12px;
    display: inline-block;
    border: solid 1px #666;
    vertical-align: middle;
}