
#tunables .slider-track {
	background: #EEE;
}

#tunables .slider-selection {
	visibility: hidden;
}

#tunables .slider-handle.round {
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
	border: solid 1px #1e69de;
	opacity: 1.0;
}

.-tunable-button h2 {
	margin: 8px;
}

.-tunable-button .subtitle {
	font-size: 10px;
	width: 100%;
	overflow: hidden;
}

.-tunable-button .value {
	margin-top: 4px;
	font-size: 120%;
	color: #3366CC;
}

.-tunable-button {
	border-color: #DDD;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	display: inline-block;
	width: 130px;
	height: 120px;
	margin: 2px;
	cursor: pointer;
}

.-tunable-button:hover {
	border-color: #FF9900;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */	
}

#tunables-inline {
	background: #EEE;
	padding: 10px;
	width: 100%;
	min-height: 120px;
	position: relative;
	margin: 10px 0;
	border-radius: 5px;

	-moz-box-shadow:    inset 0 0 15px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.4);
	box-shadow:         inset 0 0 15px rgba(0,0,0,0.4);

}

#tunables-inline .col-input {
	text-align: center;
}

#tunables-inline .col-desc > div {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

#tunables-inline .col-desc h2 {
	margin: 5px 0;
}

#tunables-inline .col-desc p {
	margin: 2px 0;
	color: #333;
	font-size: 0.9em;
}

#tunables-inline .triangle {
	position: absolute;
	top: -7px;

	color: transparent;
	border-width: 0 7px 7px 7px;
	width: 0;
	height: 0;
	border-bottom-color: #999;
	border-style: solid;
	margin-top: 0;
}