.v-slider {
  position: relative;
  display: inline-block;
}
.v-slider span.v-label {
  position: absolute;
  font-size: 10px;
  color: #b3b3b3;
  text-align: left;
}
.v-slider span.v-label.top {
  top: 0px;
}
.v-slider span.v-label.bottom {
  bottom: 0px;
}
.v-slider span.v-label.title {
  color: #808080;
  text-align: center;
  bottom: 0px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
.v-slider div.dragdealer {
  display: block;
  background-color: #999999;
}
.v-slider div.dragdealer > .handle {
  cursor: pointer;
  position: relative;
  border: solid 1px #999999;
  background-color: #ffffff;
}
.v-slider div.dragdealer > .handle:after {
  content: " ";
  border: solid #999999;
  border-width: 1px 0px;
  width: 10px;
  height: 3px;
  position: absolute;
}
.v-slider.big {
  width: 60px;
  height: 172px;
  margin: 14px 7px;
}
.v-slider.big span.top,
.v-slider.big span.bottom {
  left: 38px;
}
.v-slider.big span.title {
  left: -3px;
  bottom: -3px;
  width: 152px;
}
.v-slider.big div.dragdealer {
  width: 26px;
  height: 172px;
}
.v-slider.big div.dragdealer > .handle {
  height: 20px;
  width: 36px;
  margin-left: -5px;
}
.v-slider.big div.dragdealer > .handle:after {
  top: 8px;
  left: 12px;
}
.v-slider.small {
  width: 20px;
  height: 120px;
  margin: 15px 5px;
}
.v-slider.small span.top,
.v-slider.small span.bottom {
  left: 20px;
}
.v-slider.small span.title {
  left: -3px;
  bottom: -3px;
  width: 100px;
}
.v-slider.small div.dragdealer {
  width: 10px;
  height: 120px;
}
.v-slider.small div.dragdealer > .handle {
  height: 30px;
  width: 20px;
  margin-left: -5px;
}
.v-slider.small div.dragdealer > .handle:after {
  top: 13px;
  left: 4px;
}
.dashboard {
  width: 100%;
}
.dashboard div.tunables div#tune-pane {
  position: absolute;
  left: 0px;
  top: auto;
  width: 100%;
  overflow: hidden;
  color: #ffffff;
  background: #666666;
  margin-top: 5px;
  height: 0;
  text-align: left;
}
.dashboard div.tunables div#tune-pane div#tune-pane-tune {
  text-align: right;
}
.dashboard div.tunables div#tune-pane div#tune-pane-finetune {
  padding-top: 25px;
  text-align: left;
}
.dashboard div.tunables ul {
  text-align: center;
  position: relative;
  list-style: none;
  padding: 0px;
}
.dashboard div.tunables ul li {
  display: inline-block;
  margin: 2px 0px;
  width: 128px;
  height: 128px;
}
.dashboard div.tunables ul li div.tile {
  height: 128px;
  border: solid 2px;
  border-color: transparent;
  background: #fff;
  cursor: pointer;
}
.dashboard div.tunables ul li div.tile:hover {
  border-color: #f00;
}
.dashboard div.tunables ul li div.tile h3 {
  font-size: 42px;
  padding: 0px;
  margin: 10px 0px 0px;
  color: #0066CC;
}
.dashboard div.tunables ul li div.tile p {
  font-size: 24px;
  padding: 0px;
  margin: 6px 0px 0px;
  color: #999999;
}
.dashboard div.tunables ul li.active {
  height: 333px;
}
.dashboard div.tunables ul li.active::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #666666;
  border-width: 15px;
  margin: -20px 0 0 -15px;
}
.dashboard div.tunables ul li.active div#tune-pane {
  height: 200px;
}
