/* =========== */
/*  Histogram   */
/* =========== */

#host svg {
  font: 10px sans-serif;
  padding: 8px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path.plot-line {
  fill: none;
}
path.plot-area {
  stroke: none;
}
path.plot-bullet {
  fill: #fff;
}
