*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Local files
*.local
liveq-jobmanager/db.sqlite3
liveq-common/ref-data

*.sqlite3

.DS_Store

*.log

local-environment.sh

dump.rdb
