    <!-- LiveQ Play UI -->
    <script type="text/javascript" src="{{ static_url("js/ui-play.js.src/Play.js") }}"></script>
     <link href="{{ static_url("css/liveq-ui-play.css") }}" rel="stylesheet">
    <!-- Bootstrap slider -->
    <script type="text/javascript" src="{{ static_url("js/bootstrap-slider.js") }}"></script>
    <link href="{{ static_url("css/bootstrap-slider.css") }}" rel="stylesheet">
    <!-- jQuery Knob -->
    <script type="text/javascript" src="{{ static_url("js/jquery.knob.js") }}"></script>
