    <!-- LiveQ Stylesheets -->
    <link href="{{ static_url("css/liveq-ui.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/liveq-histogram.css") }}" rel="stylesheet">
    <!-- LiveQ Libraries -->
    <script type="text/javascript" src="{{ static_url("js/d3.v3.min.js") }}"></script>
    <!-- LiveQ Sources -->
    <script type="text/javascript" src="{{ static_url("js/liveq.js.src/LiveQ.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/liveq.js.src/BufferReader.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/liveq.js.src/HistogramData.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/liveq.js.src/ReferenceData.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/liveq.js.src/LabProtocol.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/liveq.js.src/LabSocket.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/liveq.js.src/Calculate.js") }}"></script>
    <!-- LiveQ UI -->
    <script type="text/javascript" src="{{ static_url("js/ui-common.js.src/UI.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/ui-common.js.src/EventCounter.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/ui-common.js.src/Plot.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/ui-common.js.src/PlotHistogram.js") }}"></script>
