    <!-- LiveQ Play UI -->
    <script type="text/javascript" src="{{ static_url("js/ui-play.js.src/Tunables.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/ui-play.js.src/Observables.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/ui-play.js.src/Explainations.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/ui-play.js.src/Play-2.js") }}"></script>
    <link href="{{ static_url("css/liveq-ui-3.css") }}" rel="stylesheet">
