	<!-- Extra libraries for the LiveQ Play UI -->
    <script type="text/javascript" src="{{ static_url("js/popcorn-complete.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/jquery.knob.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/jquery-ui-1.10.4.min.js") }}"></script>
    <!-- LiveQ Play UI -->
    <script type="text/javascript" src="{{ static_url("js/ui-play-dev.js.src/Tunables.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/ui-play-dev.js.src/Questionable.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/ui-play-dev.js.src/Play.js") }}"></script>
    <link href="{{ static_url("css/ui-play-dev.css") }}" rel="stylesheet">
