
svg.dv-plot {

	font: 10px sans-serif;
	padding: 8px;

	&.hide-d-error {
		.d-error { display: none; }
	}

	.axis path, .axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

	.x-label {
		color: #999;
	}

	.tick text {
		fill: #000;
	}

	path {
		&.plot-line {
	  		fill: none;
	  	}
		&.plot-area {
	  		stroke: none;
		}
		&.plot-bullet {
	  		fill: #fff;
		}
	}

	g.legend-entry {
		text {
			fill: #fff;
		}
	}

	&.dv-invert {
		.axis path, .axis line {
			stroke: #bdc3c7;
		}
		.tick text {
			fill: #95a5a6;
		}
	}

}

svg.dv-home {

	.node {
	  stroke: #fff;
	  stroke-width: 3.5px;
	  cursor: pointer;

	  text {
	  	stroke: none;
	  	fill: #333;
	  }

	}

	.link {
	  stroke-width: 3;
	  stroke-opacity: .6;
	}


}

svg.dv-plot-full {

	font: 10px sans-serif;
	padding: 8px;

	.axis path, .axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
	
	path.plot-line {
	  fill: none;
	}
	path.plot-area {
	  stroke: none;
	}
	path.plot-bullet {
	  fill: #fff;
	}

}