svg.dv-plot {
  font: 10px sans-serif;
  padding: 8px;
}
svg.dv-plot .axis path,
svg.dv-plot .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg.dv-plot .tick text {
  fill: #000;
}
svg.dv-plot path.plot-line {
  fill: none;
}
svg.dv-plot path.plot-area {
  stroke: none;
}
svg.dv-plot path.plot-bullet {
  fill: #fff;
}
svg.dv-plot.dv-invert .axis path,
svg.dv-plot.dv-invert .axis line {
  stroke: #bdc3c7;
}
svg.dv-plot.dv-invert .tick text {
  fill: #95a5a6;
}
svg.dv-home .node {
  stroke: #fff;
  stroke-width: 3.5px;
  cursor: pointer;
}
svg.dv-home .node text {
  stroke: none;
  fill: #333;
}
svg.dv-home .link {
  stroke-width: 3;
  stroke-opacity: .6;
}
