
///////////////////////////////////////////////
// Tuning Screen
///////////////////////////////////////////////

.screen.tuning2 {

	.r-machine, .r-machine-overlay {
		position: absolute;
		left: 50%;
		top: 50%;
	}

	.control-board {
		> div {
			margin: 0 auto;
			height: 50px;
			width: 200px;


		}
	}

	.control-popup {

	}

}