/*
.keyframes(@name; @rules) {
  @-webkit-keyframes @name { @rules(); };
  @-moz-keyframes @name { @rules(); };
  @-o-keyframes @name { @rules(); };
  @keyframes @name { @rules(); }; }
*/
.screen.tuning a {
  text-decoration: none;
}
.screen.tuning .tuning-host {
  position: absolute;
}
.screen.tuning .progress-widget {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  -o-border-radius: 160px;
  border-radius: 160px;
  position: absolute;
  display: block;
  width: 156px;
  height: 156px;
  background-color: #FFF;
  border: solid 2px #34495e;
}
.screen.tuning .progress-widget div.title,
.screen.tuning .progress-widget div.subtitle {
  color: #2c3e50;
  position: absolute;
  text-align: center;
  left: 40px;
  right: 40px;
}
.screen.tuning .progress-widget div.title {
  font-weight: 600;
  font-size: 2.2em;
  bottom: 70px;
}
.screen.tuning .progress-widget div.subtitle {
  font-size: 1.3em;
  top: 80px;
}
.screen.tuning .progress-widget div.knob {
  position: absolute;
  left: 4px;
  top: 4px;
}
.screen.tuning .progress-widget div.knob input {
  display: none;
}
.screen.tuning .progress-widget a.button {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  display: block;
  line-height: 50px;
  overflow: hidden;
  background: #ecf0f1;
  color: #c0392b;
  -webkit-mask-image: url(../img/mask-tune.png);
  mask-image: url(../img/mask-tune.png);
  width: 108px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  left: 24px;
  top: 106px;
}
.screen.tuning .progress-widget a.button.active,
.screen.tuning .progress-widget a.button:hover {
  top: 123px;
  background: #27ae60;
  color: #FFF;
}
.screen.tuning .progress-widget div.c-marker {
  position: absolute;
  border: dashed 1px #999;
}
.screen.tuning .indicator {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #27ae60;
}
.screen.tuning .tunable {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  display: block;
  width: 110px;
  height: 74px;
  cursor: pointer;
  z-index: 100;
}
.screen.tuning .tunable .dial {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  display: block;
  width: 74px;
  height: 74px;
  -webkit-border-radius: 74px;
  -moz-border-radius: 74px;
  -o-border-radius: 74px;
  border-radius: 74px;
  background-color: #34495e;
  left: 18px;
  border-style: solid;
  border-width: 0;
  border-color: #34495e;
}
.screen.tuning .tunable .dial input,
.screen.tuning .tunable .dial div.title {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  left: 10px;
  right: 10px;
  width: 52px;
  text-align: center;
}
.screen.tuning .tunable .dial input {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.2em;
  top: 37px;
}
.screen.tuning .tunable .dial div.title {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
  font-size: 1.8em;
  bottom: 37px;
  font-weight: bold;
}
.screen.tuning .tunable a.wing {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-mask-image: url(../img/mask-wing.png);
  mask-image: url(../img/mask-wing.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #2980b9;
  position: absolute;
  width: 37px;
  height: 53px;
  line-height: 53px;
  cursor: pointer;
  text-indent: 5px;
  font-size: 1.9em;
  color: #FFF;
  top: 10px;
  opacity: 0;
}
.screen.tuning .tunable a.wing:hover {
  background-color: #3498db;
}
.screen.tuning .tunable a.wing:active {
  background-color: #71B7E6;
}
.screen.tuning .tunable a.wing.left {
  left: 18px;
}
.screen.tuning .tunable a.wing.right {
  left: 55px;
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.screen.tuning .tunable.expanded {
  z-index: 110;
}
.screen.tuning .tunable.expanded .dial {
  border-width: 10px;
  padding: -10px;
  background-color: #FFF;
  width: 54px;
  height: 54px;
  -webkit-border-radius: 54px;
  -moz-border-radius: 54px;
  -o-border-radius: 54px;
  border-radius: 54px;
}
.screen.tuning .tunable.expanded .dial input {
  color: #000;
  left: 0px;
  top: 14px;
  font-size: 1.5em;
}
.screen.tuning .tunable.expanded .dial div.title {
  color: #34495e;
  left: 0px;
  bottom: 27px;
  opacity: 0;
}
.screen.tuning .tunable.expanded a.wing {
  opacity: 1;
}
.screen.tuning .tunable.expanded a.wing.left {
  left: 0px;
}
.screen.tuning .tunable.expanded a.wing.right {
  left: 73px;
}
.screen.tuning .tunable.inactive {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  z-index: 50;
  opacity: 0.8;
}
.screen.tuning .tunable.inactive .dial {
  background-color: #7f8c8d;
}
.screen.tuning .tunable.inactive a.wing {
  display: none;
}
.screen.tuning .tunable.inactive input {
  cursor: pointer;
}
.screen.tuning .tunable.inactive:hover {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 1;
  z-index: 110;
}
.screen.tuning .val-bd {
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-size: 32px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -o-border-radius: 64px;
  border-radius: 64px;
  border: solid 2px #c0392b;
  background-color: #e74c3c;
}
.screen.tuning .val-md {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -o-border-radius: 32px;
  border-radius: 32px;
  border: solid 2px #f39c12;
  background-color: #e67e22;
}
.screen.tuning .val-gd {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  border: solid 2px #27ae60;
  background-color: #2ecc71;
}
.screen.tuning .line {
  width: 100px;
  height: 1;
  border-top: solid 1px #666;
}
.screen.tuning .observable {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #FFF;
  position: absolute;
  text-align: center;
}
.screen.tuning .drawer {
  position: absolute;
  background: #999999;
  overflow-x: hidden;
  width: 350px;
  height: 250px;
}
.screen.tuning .drawer:after {
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(153, 153, 153, 0);
  border-width: 16px;
  margin-top: -16px;
}
.screen.tuning .drawer.left:after {
  left: 100%;
  border-left-color: #999999;
}
.screen.tuning .drawer.right:after {
  right: 100%;
  border-right-color: #999999;
}
.screen.tuning .drawer .document {
  width: 340px;
  height: 240px;
  margin: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}
.screen.home .home-menu {
  position: absolute;
  display: block;
  width: 400px;
  height: 400px;
}
.screen.home .home-menu a.btn {
  display: block;
  width: 100%;
  height: 32px;
  margin: 5px 0;
  background-color: #3399FF;
  line-height: 32px;
  text-indent: 10px;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
}
.screen.home .home-menu a.btn:hover {
  background-color: #70B8FF;
}
.screen.explain {
  padding: 0;
}
.screen.explain .explain-top {
  height: 65%;
  margin: 0;
}
.screen.explain .explain-bottom {
  height: 35%;
  margin: 0;
}
.screen.explain .explain-bottom.machine-diagram {
  background-color: #e74c3c;
  overflow: hidden;
}
.screen.explain .explain-bottom.machine-diagram .icons {
  position: relative;
  -webkit-transition: top 0.4s, left 0.4s;
  -moz-transition: top 0.4s, left 0.4s;
  -o-transition: top 0.4s, left 0.4s;
  transition: top 0.4s, left 0.4s;
}
.screen.explain .explain-bottom.machine-diagram .icons .focus-bar {
  position: absolute;
  background-color: #F1948A;
  left: 0;
  top: 0;
  -webkit-transition: top 0.2s linear, left 0.2s linear;
  -moz-transition: top 0.2s linear, left 0.2s linear;
  -o-transition: top 0.2s linear, left 0.2s linear;
  transition: top 0.2s linear, left 0.2s linear;
}
.screen.explain .explain-bottom.machine-diagram .icons .line {
  border-width: 0;
  border-style: solid;
  border-color: #c0392b;
  position: absolute;
  -webkit-transition: top 0.2s linear, left 0.2s linear;
  -moz-transition: top 0.2s linear, left 0.2s linear;
  -o-transition: top 0.2s linear, left 0.2s linear;
  transition: top 0.2s linear, left 0.2s linear;
}
.screen.explain .explain-bottom.machine-diagram .icons .line.pos-straight {
  border-width: 0 0 4px 0;
}
.screen.explain .explain-bottom.machine-diagram .icons .line.pos-branch {
  border-width: 4px 0 0 4px;
  border-radius: 10px 0 0 0;
}
.screen.explain .explain-bottom.machine-diagram .icons .line.pos-branch.pos-down {
  border-width: 0 0 4px 4px;
  border-radius: 0 0 0 10px;
}
.screen.explain .explain-bottom.machine-diagram .icons .line.pos-collapse {
  border-width: 0 4px 4px 0;
  border-radius: 0 0 10px 0;
}
.screen.explain .explain-bottom.machine-diagram .icons .line.pos-collapse.pos-down {
  border-radius: 0 10px 0  0;
  border-width: 4px 4px 0 0;
}
.screen.explain .explain-bottom.machine-diagram .icons .line.dashed {
  border-style: dashed;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon {
  display: inline-block;
  width: 64px;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > div {
  margin-top: 5px;
  text-align: center;
  color: #c0392b;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a {
  width: 42px;
  height: 42px;
  display: block;
  margin: 0 auto;
  background-image: url(../img/iconsets.png);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: -42px;
  border-style: solid;
  border-color: transparent;
  border-width: 3px;
  background-color: #FFF;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a:hover,
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.focus {
  background-color: #fcc;
  border-color: #FFF;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.invert {
  background-position-y: 0;
  background-color: #c0392b;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.invert:hover,
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.invert.focus {
  border-color: #FFF;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon01 {
  background-position-x: 0;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon02 {
  background-position-x: -42px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon03 {
  background-position-x: -84px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon04 {
  background-position-x: -126px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon05 {
  background-position-x: -168px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon06 {
  background-position-x: -210px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon07 {
  background-position-x: -252px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon08 {
  background-position-x: -294px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon09 {
  background-position-x: -336px;
}
.screen.progress {
  background-color: #FFF;
}
.screen.progress.hidden div.logo {
  top: -400px;
}
.screen.progress.hidden div.bar-status,
.screen.progress.hidden div.bar-progress,
.screen.progress.hidden div.bar {
  top: 150%;
}
.screen.progress div.logo {
  -webkit-transition: all 500ms cubic-bezier(0.515, 0, 1, 0);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -moz-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -o-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  /* custom */
  position: absolute;
  left: 50%;
  top: 40%;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
  background: url(../img/logo.png) no-repeat center center;
}
.screen.progress div.bar-status,
.screen.progress div.bar-progress {
  -webkit-transition: all 500ms cubic-bezier(0.515, 0, 1, 0);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -moz-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -o-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  /* custom */
  position: absolute;
  top: 80%;
  margin-top: -24px;
  font-family: Tahoma, Arial;
  font-size: 12px;
  color: #999;
}
.screen.progress div.bar-status {
  left: 10px;
}
.screen.progress div.bar-progress {
  right: 10px;
}
.screen.progress div.bar {
  -webkit-transition: all 500ms cubic-bezier(0.515, 0, 1, 0);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -moz-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -o-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  /* custom */
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 80%;
  width: 100%;
  height: 4px;
}
.screen.progress div.bar .bar-value {
  -webkit-box-shadow: 0px 0px 10px 1px #ff9900;
  -moz-box-shadow: 0px 0px 10px 1px #ff9900;
  -o-box-shadow: 0px 0px 10px 1px #ff9900;
  box-shadow: 0px 0px 10px 1px #ff9900;
  background-color: #FF9900;
  display: block;
  margin: 1px 0;
  height: 2px;
  width: 0;
}
