/*
.keyframes(@name; @rules) {
  @-webkit-keyframes @name { @rules(); };
  @-moz-keyframes @name { @rules(); };
  @-o-keyframes @name { @rules(); };
  @keyframes @name { @rules(); }; }
*/
.screen .line {
  width: 100px;
  height: 1;
  border-top: solid 1px #666666;
}
.screen h1 {
  margin: 15px 15px 0;
  color: #2c3e50;
}
.screen h1 span.highlight {
  color: #16a085;
}
.screen h1 + div.subtitle {
  color: #999999;
  margin: 0 15px;
}
.screen .observable {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: white;
  position: absolute;
  text-align: center;
  cursor: pointer;
  z-index: 100;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 17.5px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  border: solid 2px;
}
.screen .observable.grey {
  color: #333333;
  border-color: #b3b3b3;
  background-color: #cccccc;
}
.screen .observable.green {
  color: white;
  border-color: #25a25a;
  background-color: #2ecc71;
}
.screen .observable:hover {
  z-index: 110;
}
.screen .observable:hover.inactive {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.screen .indicator {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 80;
}
.screen .indicator.val-gd {
  border-top: 10px solid #2ecc71;
}
.screen .indicator.val-md {
  border-top: 10px solid #e67e22;
}
.screen .indicator.val-bd {
  border-top: 10px solid #e74c3c;
}
.screen .pagepart {
  background-image: url(../img/pageparts.png);
  background-repeat: no-repeat;
  position: absolute;
}
.screen .pagepart h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
}
.screen .pagepart p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: absolute;
}
.screen .pagepart.run-tl {
  background-position: 0px 0px;
  width: 145px;
  height: 145px;
  top: 0;
  left: 0;
}
.screen .pagepart.run-tl h1,
.screen .pagepart.run-tl p {
  color: white;
  text-align: left;
}
.screen .pagepart.run-tl h1 {
  width: 130px;
  line-height: 52px;
  left: 7px;
  top: 7px;
}
.screen .pagepart.run-tl p {
  width: 59px;
  line-height: 18px;
  left: 7px;
  top: 59px;
}
.screen .pagepart.run-tr {
  background-position: -145px 0px;
  width: 145px;
  height: 145px;
  top: 0;
  right: 0;
}
.screen .pagepart.run-tr h1,
.screen .pagepart.run-tr p {
  color: white;
  text-align: right;
}
.screen .pagepart.run-tr h1 {
  width: 130px;
  line-height: 52px;
  right: 7px;
  top: 7px;
}
.screen .pagepart.run-tr p {
  width: 59px;
  line-height: 18px;
  right: 7px;
  top: 59px;
}
.screen .pagepart.run-bl {
  background-position: -290px 0px;
  width: 145px;
  height: 145px;
  bottom: 0;
  left: 0;
}
.screen .pagepart.run-bl h1,
.screen .pagepart.run-bl p {
  color: white;
  text-align: left;
}
.screen .pagepart.run-bl h1 {
  width: 130px;
  line-height: 52px;
  left: 7px;
  bottom: 7px;
}
.screen .pagepart.run-bl p {
  width: 59px;
  line-height: 18px;
  left: 7px;
  bottom: 59px;
}
.screen.explain {
  padding: 0;
}
.screen.explain .explain-window {
  position: absolute;
  width: 900px;
  height: 762px;
  border-radius: 20px;
}
.screen.explain .explain-window div.explain-header,
.screen.explain .explain-window div.explain-footer {
  height: 70px;
  border-radius: 20px;
  padding: 12px;
  margin: 12px;
  color: white;
}
.screen.explain .explain-window div.explain-header h1 {
  margin: 0;
  padding: 0;
}
.screen.explain .explain-window div.explain-popup {
  position: absolute;
  width: 500px;
  height: 250px;
  left: 200px;
  top: 250px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 10px 0;
}
.screen.explain .explain-window div.explain-popup div.btn-host {
  position: absolute;
  text-align: center;
  height: 0;
  bottom: 0;
  width: 100%;
}
.screen.explain .explain-window div.explain-popup a.btn-do {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  padding: 0;
  margin: -35px 2px 0;
  border-style: solid;
  border-radius: 70px;
  border-width: 4px;
}
.screen.explain .explain-window div.explain-footer a.btn-level {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  margin: 0 2px;
  width: 74px;
  height: 74px;
  border-radius: 20px;
  line-height: 74px;
  text-align: center;
}
.screen.explain .explain-window div.explain-screen {
  height: 500px;
  padding: 12px;
}
.screen.explain .explain-window div.explain-screen div > canvas {
  margin: 30px 0 0 30px;
}
.screen.explain .explain-window div.explain-screen.cs-blackboard {
  background: black url(../img/blackboard.jpg) no-repeat center center;
  background-size: cover;
}
.screen.explain .explain-window.cs-green {
  background-color: #1abc9c;
}
.screen.explain .explain-window.cs-green div.explain-header,
.screen.explain .explain-window.cs-green div.explain-footer {
  background-color: #16a085;
}
.screen.explain .explain-window.cs-green div.explain-screen {
  background-color: #7f8c8d;
}
.screen.explain .explain-window.cs-green a.btn-level {
  background-color: #34495e;
  color: white;
}
.screen.explain .explain-window.cs-green a.btn-level.blur {
  background-color: #7f8c8d;
}
.screen.explain .explain-window.cs-green a.btn-level.active {
  background-color: #e67e22;
}
.screen.explain .explain-window.cs-green a.btn-do {
  border-color: #2980b9;
  background-color: #3498db;
}
.screen.home .side-screen {
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 60%;
}
.screen.home .side-screen .observable-short {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 40px;
}
.screen.home .side-screen .bg-slice {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
}
.screen.home .side-screen .bg-globe {
  position: absolute;
  background-color: rgba(20, 20, 20, 0.1);
}
.screen.home .side-screen div.status-label .panel-label {
  color: #333333;
}
.screen.home .side-screen div.status-label .panel-value {
  font-size: 20px;
  font-weight: bold;
}
.screen.home .side-screen .p-machines,
.screen.home .side-screen .p-events,
.screen.home .side-screen .p-progress {
  position: absolute;
  width: 30%;
}
.screen.home .side-screen .p-machines {
  left: 5px;
  top: 5px;
}
.screen.home .side-screen .p-progress {
  right: 30px;
  top: 5px;
}
.screen.home .side-screen .p-events {
  left: 30%;
  top: 5px;
}
.screen.home .side-screen .p-abort {
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 62px;
  width: 62px;
}
.screen.home .side-screen .p-view {
  position: absolute;
  bottom: 5px;
  left: 70px;
  height: 62px;
  width: 62px;
}
.screen.home div.table-list {
  position: absolute;
  width: 38%;
  right: 5px;
  top: 240px;
  bottom: 72px;
  padding: 0 2px;
}
.screen.home .p-submit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 62px;
  width: 39%;
}
.screen.home .p-go-course,
.screen.home .p-go-cafe,
.screen.home .p-go-machine {
  position: absolute;
  top: 5px;
  width: 13%;
  height: 200px;
}
.screen.home .p-go-course span,
.screen.home .p-go-cafe span,
.screen.home .p-go-machine span {
  font-size: 40px;
}
.screen.home .p-go-course {
  right: 14%;
}
.screen.home .p-go-cafe {
  right: 5px;
}
.screen.home .p-go-machine {
  right: 27.5%;
}
.screen.home .legend {
  position: absolute;
  color: #16a085;
  width: 38%;
  right: 5px;
  top: 215px;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}
.screen.login .host {
  width: 600px;
  margin: 50px auto;
}
.screen.login .header div.logo-icon {
  float: left;
  width: 125px;
  height: 125px;
  background: url(../img/logo.png) no-repeat center center;
  background-size: contain;
}
.screen.login .header div.logo-text {
  text-align: left;
  width: 400px;
  height: 125px;
  padding: 20px;
  margin-left: 125px;
}
.screen.login .header div.logo-text h1 {
  padding: 0;
  margin: 0;
  font-size: 34px;
  color: #7f8c8d;
}
.screen.login .header div.logo-text h1 span {
  color: #e67e22;
}
.screen.login .header div.logo-text p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #95a5a6;
}
.screen.login .body {
  background: rgba(255, 255, 255, 0.3);
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
}
.screen.login .body div.left {
  float: left;
  width: 300px;
  height: 280px;
  padding: 5px;
}
.screen.login .body div.left a img {
  border: none;
}
.screen.login .body div.right {
  text-align: right;
  margin-left: 300px;
  height: 280px;
  padding: 5px;
}
.screen.login .body div.right table {
  margin: 0 0 0 auto;
  font-size: 14px;
}
.screen.login .body div.right table td {
  margin: 4px;
}
.screen.login .body div.right input {
  border: solid 1px #b3b3b3;
  background: transparent;
  padding: 2px;
}
.screen.login .body div.right input[type=button] {
  padding: 8px;
  cursor: pointer;
}
.screen.register {
  background-color: white;
  padding: 10px;
  font-size: 14px;
  overflow-y: auto;
}
.screen.register .side-left {
  position: absolute;
  text-align: center;
  left: 5px;
  top: 5px;
  bottom: 5px;
  width: 30%;
}
.screen.register .side-right {
  position: absolute;
  text-align: left;
  right: 5px;
  top: 5px;
  bottom: 5px;
  width: 70%;
  overflow-y: auto;
}
.screen.register .side-full {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow-y: auto;
}
.screen.register .panel > h1 {
  margin: 15px 0;
  color: #009999;
}
.screen.register .panel > p {
  color: #666666;
}
.screen.register .panel .row {
  padding: 2px;
}
.screen.register .panel .row label {
  width: 150px;
  text-align: right;
  font-weight: bold;
  padding: 6px;
  float: left;
}
.screen.register .panel .row input[type=text],
.screen.register .panel .row input[type=password] {
  width: 250px;
  padding: 4px;
}
.screen.register .panel .row input[type=checkbox] {
  margin: 10px 0 2px;
}
.screen.register .panel .row div.input {
  margin-left: 160px;
}
.screen.register .panel .row div.details {
  font-size: 12px;
  margin: 5px 0 10px 160px;
  color: #999999;
}
.screen.register .panel .row:after {
  content: " ";
  clear: both;
}
.screen.register .avatar-list {
  height: 126px;
  border: solid 1px #dddddd;
  overflow-y: auto;
  overflow-x: hidden;
}
.screen.register .avatar-list .item {
  float: left;
  display: block;
  width: 60px;
  height: 60px;
  margin: 2px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.screen.register .avatar-list .item.selected {
  background-color: #bddaff;
}
.screen.register .alert {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #e74c3c;
  border: solid 1px #c0392b;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}
.screen.register input.invalid {
  border: solid 1px #e74c3c;
}
.screen.progress {
  background-color: rgba(0, 0, 0, 0.6);
}
.screen.progress.hidden div.logo {
  top: -400px;
}
.screen.progress.hidden div.bar-status,
.screen.progress.hidden div.bar-progress,
.screen.progress.hidden div.bar {
  top: 150%;
}
.screen.progress div.logo {
  -webkit-transition: all 500ms cubic-bezier(0.515, 0, 1, 0);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -moz-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -o-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  /* custom */

  position: absolute;
  left: 50%;
  top: 40%;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
  background: url(../img/logo.png) no-repeat center center;
}
.screen.progress div.bar-status,
.screen.progress div.bar-progress {
  -webkit-transition: all 500ms cubic-bezier(0.515, 0, 1, 0);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -moz-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -o-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  /* custom */

  position: absolute;
  top: 80%;
  margin-top: -24px;
  font-family: Tahoma, Arial;
  font-size: 12px;
  color: #999999;
}
.screen.progress div.bar-status {
  left: 10px;
}
.screen.progress div.bar-progress {
  right: 10px;
}
.screen.progress div.bar {
  -webkit-transition: all 500ms cubic-bezier(0.515, 0, 1, 0);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -moz-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -o-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  /* custom */

  position: absolute;
  background-color: #eeeeee;
  left: 0;
  top: 80%;
  width: 100%;
  height: 4px;
}
.screen.progress div.bar .bar-value {
  -webkit-box-shadow: 0px 0px 10px 1px #ff9900;
  -moz-box-shadow: 0px 0px 10px 1px #ff9900;
  -o-box-shadow: 0px 0px 10px 1px #ff9900;
  box-shadow: 0px 0px 10px 1px #ff9900;
  background-color: #ff9900;
  display: block;
  margin: 1px 0;
  height: 2px;
  width: 0;
}
.screen.tuning2 .r-machine,
.screen.tuning2 .r-machine-overlay {
  position: absolute;
  left: 50%;
  top: 40%;
}
.screen.tuning2 .btn-help {
  position: absolute;
  height: 62px;
  width: 62px;
  left: 5px;
  bottom: 5px;
}
.screen.tuning2 .description-frame {
  -webkit-transition: bottom 0.2s;
  -moz-transition: bottom 0.2s;
  -o-transition: bottom 0.2s;
  transition: bottom 0.2s;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  bottom: -230px;
  height: 210px;
  border-top: solid 1px #cccccc;
  padding: 10px;
}
.screen.tuning2 .description-frame > h1 {
  color: #16a085;
  font-size: 24px;
}
.screen.tuning2 .description-frame > div {
  font-size: 14px;
}
.screen.tuning2 .description-frame.visible {
  bottom: 0;
}
.screen.tuning2 .description-frame .btn-course {
  position: absolute;
  height: 62px;
  width: 62px;
  left: 72px;
  bottom: 5px;
}
.screen.tuning2 .control-board {
  -webkit-pointer-events: none;
  -khtml-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
}
.screen.tuning2 .control-board > div {
  -webkit-pointer-events: auto;
  -khtml-pointer-events: auto;
  -moz-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  margin: 0 auto;
  height: 62px;
  padding: 5px;
  width: 394px;
  border: solid 1px #cccccc;
  background-color: white;
  border-radius: 5px 5px 0 0;
}
.screen.tuning2 .control-board > div > button,
.screen.tuning2 .control-board > div div {
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}
.screen.tuning2 .control-board > div > button {
  height: 62px;
  width: 62px;
}
.screen.tuning2 .control-board > div > div.panel-shaded {
  color: #333333;
  float: left;
  width: 190px;
  height: 59px;
  line-height: 62px;
  font-size: 23px;
}
.screen.tuning2 .parameter-group {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  opacity: 1;
  background-color: #dddddd;
  overflow: hidden;
  padding: 10px 5px;
  position: absolute;
}
.screen.tuning2 .parameter-group.animating {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.screen.tuning2 .parameter-group.hidden {
  -webkit-transform: translate(-24px, -24px);
  -moz-transform: translate(-24px, -24px);
  -o-transform: translate(-24px, -24px);
  transform: translate(-24px, -24px);
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -o-border-radius: 42px;
  border-radius: 42px;
  width: 42px !important;
  height: 42px !important;
  opacity: 0.8;
}
.screen.tuning2 .tuning-panel {
  border: solid 1px #dddddd;
  line-height: 28px;
}
.screen.tuning2 .tuning-panel .header {
  background-color: #eeeeee;
  color: #009999;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 32px;
  font-size: 18px;
  padding: 4px 10px;
}
.screen.tuning2 .tuning-panel .tunables {
  background-color: white;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 33px;
  padding: 4px;
}
.screen.tuning2 .tuning-panel .tunables.col-2 > div {
  float: left;
  width: 45%;
}
.overlay-window .tuning-panel {
  background-color: white;
}
.screen.running div.c-marker {
  position: absolute;
  border: dashed 1px #999999;
}
.screen.running div.c-marker .label {
  position: absolute;
  font-size: 12px;
  color: #999999;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: -16px;
}
.screen.running .pagepart .btn-taglike {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-pointer-events: auto;
  -khtml-pointer-events: auto;
  -moz-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  -webkit-border-radius: 0px 0px 8px 8px;
  -moz-border-radius: 0px 0px 8px 8px;
  -o-border-radius: 0px 0px 8px 8px;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  cursor: pointer;
  background-color: #d35400;
  text-align: center;
  color: white;
  width: 70px;
  height: 45px;
  padding-top: 5px;
}
.screen.running .pagepart.run-tl .btn-taglike {
  left: 0;
  top: 145px;
}
.screen.running .pagepart.run-tl .btn-taglike:hover {
  padding-top: 15px;
}
.screen.running .pagepart.run-tr .btn-taglike {
  right: 0;
  top: 145px;
}
.screen.running .pagepart.run-tr .btn-taglike:hover {
  padding-top: 15px;
}
.screen.running .pagepart.run-bl .btn-taglike {
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -o-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
  left: 0;
  top: -50px;
}
.screen.running .pagepart.run-bl .btn-taglike:hover {
  top: -60px;
  padding-bottom: 10px;
}
.screen.running .globe {
  position: absolute;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: block;
  width: 160px;
  height: 160px;
  z-index: 70;
}
.screen.running .progress-widget {
  position: absolute;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  display: block;
  width: 200px;
  height: 200px;
  border: solid 2px #95a5a6;
  background: #bfbfbf;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #bfbfbf 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #bfbfbf), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #bfbfbf 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #bfbfbf 0%, white 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #bfbfbf 0%, white 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #bfbfbf 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}
.screen.running .progress-widget a.button {
  position: absolute;
  z-index: 71;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 108px;
  height: 52px;
  cursor: pointer;
  overflow: hidden;
  left: 45px;
  top: -35px;
}
.screen.running .progress-widget a.button div {
  position: absolute;
  width: 108px;
  height: 52px;
  color: white;
  line-height: 52px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.screen.running .progress-widget a.button:before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: " ";
  background: #c0392b;
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-mask-image: url(../img/mask-tune.png);
  mask-image: url(../img/mask-tune.png);
  width: 108px;
  height: 52px;
}
.screen.running .progress-widget a.button:hover {
  position: absolute;
}
.screen.running .progress-widget a.button:hover:before {
  background-color: #e74c3c;
}
.screen.running .progress-widget .knob {
  position: absolute;
  left: 6px;
  top: 7px;
  z-index: 60;
}
.screen.running .progress-widget .knob input {
  display: none;
}
.screen.running .progress-widget .knob.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: 59;
}
.screen.results div.results-host {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
}
.screen.cinematic .video-container {
  -webkit-pointer-events: none;
  -khtml-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.screen.cinematic .video-blocker {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  -webkit-pointer-events: none;
  -khtml-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
}
.screen.cinematic a.video-skip {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background-color: transparent;
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 48px;
  font-size: 14px;
  color: white;
  line-height: 48px;
  text-decoration: none;
  font-size: 24px;
  opacity: 0.1;
}
.screen.cinematic a.video-skip:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
}
.screen.bsod {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.screen.bsod .content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 400px;
  -webkit-transform: translate(-150px, -200px);
  -moz-transform: translate(-150px, -200px);
  -o-transform: translate(-150px, -200px);
  transform: translate(-150px, -200px);
}
.screen.bsod .content .image {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
.screen.bsod .content .image span.glyphicon {
  font-size: 280px;
}
.screen.bsod .content .text {
  position: absolute;
  top: 310px;
  height: 90px;
  left: 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: white;
}
.screen.bsod .content .text a {
  color: #33ccff;
  text-decoration: none;
}
.screen.bsod .content .text a:hover {
  color: white;
}
.screen.ipide {
  background-color: white;
  position: relative;
}
.screen.ipide .header,
.screen.ipide .footer {
  position: absolute;
  background-color: #999999;
  height: 32px;
  color: white;
  font-size: 16px;
  padding: 4px;
}
.screen.ipide .header {
  left: 0;
  top: 0;
  height: 32px;
  width: 100%;
}
.screen.ipide .footer {
  left: 0;
  bottom: 0;
  height: 32px;
  width: 100%;
}
.screen.ipide .footer .btn-footer {
  display: block;
  float: right;
  width: 100px;
  height: 32px;
  color: #333333;
  border: none;
  text-decoration: none;
  background-color: #aaaaaa;
  text-align: center;
  margin-top: 4px;
  margin-left: 1px;
  padding: 5px 0 0;
}
.screen.ipide .footer .btn-footer:hover {
  background-color: white;
  color: black;
}
.screen.ipide .code {
  position: absolute;
  left: 0;
  top: 32px;
  bottom: 32px;
  width: 100%;
}
.screen.ipide .code textarea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.screen.ipide .code .CodeMirror {
  height: 100%;
}
.screen.tutorial-stats {
  background-color: rgba(255, 255, 255, 0.5);
}
.screen.tutorial-stats .vibrator-host {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.screen.tutorial-stats .vibrator-host > div {
  position: absolute;
}
.screen.tutorial-stats .vibrator-host .panel-load {
  left: 10px;
  top: 10px;
  right: 10px;
  height: 45px;
  background-color: #333333;
}
.screen.tutorial-stats .vibrator-host .panel-load .progressbar {
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #c0392b;
  background: white;
  height: 30px;
  margin: 6px;
}
.screen.tutorial-stats .vibrator-host .panel-load .progressbar .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #e74c3c;
}
.screen.tutorial-stats .vibrator-host .panel-load .progressbar .value {
  position: absolute;
  -webkit-transform: translate(-100px, -15px);
  -moz-transform: translate(-100px, -15px);
  -o-transform: translate(-100px, -15px);
  transform: translate(-100px, -15px);
  left: 50%;
  top: 50%;
  width: 200px;
  height: 30px;
  color: #333333;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
}
.screen.tutorial-stats .vibrator-host .panel-event-rate {
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  right: 10px;
  top: 55px;
  width: 390px;
  height: 60px;
  background-color: #333333;
  padding: 0 10px;
}
.screen.tutorial-stats .vibrator-host .panel-event-rate .rate {
  position: absolute;
  height: 60px;
  width: 320px;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 40px;
  font-weight: bold;
  margin-left: 14px;
  text-align: center;
  color: white;
}
.screen.tutorial-stats .vibrator-host .panel-event-rate .label {
  position: absolute;
  height: 60px;
  width: 80px;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 10px;
  color: #dddddd;
  font-size: 12px;
}
.screen.tutorial-stats .vibrator-host .panel-histogram {
  left: 10px;
  top: 65px;
  right: 430px;
  bottom: 50px;
  border-right: solid 1px #333333;
  background-color: white;
}
.screen.tutorial-stats .vibrator-host .panel-histogram > div {
  position: absolute;
}
.screen.tutorial-stats .vibrator-host .panel-histogram-legend {
  left: 10px;
  bottom: 10px;
  right: 430px;
  height: 30px;
  border-top: solid 1px #333333;
  padding: 5px;
  font-style: italic;
  color: #333333;
  font-size: 14px;
}
.screen.tutorial-stats .vibrator-host .panel-histogram-legend span.box {
  display: inline-block;
  width: 50px;
  height: 20px;
  border: solid 1px #666666;
  vertical-align: middle;
}
.screen.tutorial-stats .vibrator-host .panel-controls {
  position: absolute;
  right: 10px;
  top: 135px;
  width: 400px;
  bottom: 10px;
}
.screen.tutorial-stats .vibrator-host .panel-controls .group {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #eeeeee;
  margin: 5px;
  padding: 5px;
}
.screen.tutorial-stats .vibrator-host .panel-controls .group.group-bottom {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
}
.screen.tutorial-stats .vibrator-host .panel-controls .group a.btn-toggle {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  position: relative;
  margin: 5px;
  padding: 5px;
  text-align: right;
  font-size: 16px;
  text-decoration: none;
  color: #333333;
  border: solid 2px #cccccc;
}
.screen.tutorial-stats .vibrator-host .panel-controls .group a.btn-toggle:after {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  display: block;
  width: 16px;
  height: 16px;
  left: 8px;
  top: 8px;
  content: " ";
  background-color: #27ae60;
  position: absolute;
}
.screen.tutorial-stats .vibrator-host .panel-controls .group a.btn-toggle.active {
  background-color: #cccccc;
  color: black;
}
.screen.tutorial-stats .vibrator-host .panel-controls .group a.btn-toggle.active:after {
  background-color: #2ecc71;
}
.screen.tutorial-stats .vibrator-host .panel-controls .group a.btn-accept,
.screen.tutorial-stats .vibrator-host .panel-controls .group a.btn-discard {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  position: relative;
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
}
.screen.tutorial-stats .vibrator-host .panel-controls .group a.btn-accept {
  background-color: #27ae60;
  color: #003300;
}
.screen.tutorial-stats .vibrator-host .panel-controls .group a.btn-accept:hover {
  color: white;
  background-color: #2ecc71;
}
.screen.tutorial-stats .vibrator-host .panel-controls .group a.btn-discard {
  background-color: #c0392b;
  color: #330000;
}
.screen.tutorial-stats .vibrator-host .panel-controls .group a.btn-discard:hover {
  color: white;
  background-color: #e74c3c;
}
.screen.courseroom .monitor {
  position: relative;
  background: no-repeat center center url(../img/blackboard.jpg);
  background-size: cover;
  position: absolute;
  border: solid 8px #dddddd;
  background-color: white;
}
.screen.courseroom .monitor .countdown {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  width: 200px;
  height: 60px;
  left: 50%;
  top: 50%;
  transform: translate(-100px, -30px);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.screen.courseroom .monitor .countdown h5 {
  margin: 5px 0;
  font-size: 14px;
  color: #999999;
}
.screen.courseroom .monitor .countdown p {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}
.screen.courseroom .monitor canvas {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.screen.courseroom .chat-chairs > div {
  height: 72px;
  position: absolute;
}
.screen.courseroom .chat-chairs > div.chat-row {
  -webkit-pointer-events: none;
  -khtml-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  background-image: url(../img/chairs-row.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.screen.courseroom .chat-chairs > div.chat-user > div {
  position: absolute;
  width: 68px;
  height: 72px;
  background-image: url(../img/chairs-users.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.screen.courseroom .chat-chairs > div.chat-user > div.col-blue {
  background-position: 0px 0px;
}
.screen.courseroom .chat-chairs > div.chat-user > div.col-green {
  background-position: -68px 0px;
}
.screen.courseroom .chat-chairs > div.chat-user > div.col-yellow {
  background-position: -136px 0px;
}
.screen.courseroom .chat-chairs > div.chat-user > div.col-red {
  background-position: -204px 0px;
}
.screen.courseroom .chat-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  border-top: solid 1px #999999;
  background-color: white;
}
.screen.courseroom .chat-box > div.chat-input {
  position: absolute;
  left: 10px;
  top: 10px;
  right: 110px;
  bottom: 10px;
}
.screen.courseroom .chat-box > div.chat-input input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 18px;
}
.screen.courseroom .chat-box > button {
  position: absolute;
  right: 2px;
  width: 100px;
  top: 2px;
  bottom: 2px;
  background-color: #3399cc;
  font-size: 18px;
  border: none;
  color: white;
}
.screen.courseroom .chat_bubble {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  background: #ffffcc;
  border: 1px solid #999999;
  max-width: 200px;
  padding: 5px;
}
.screen.courseroom .chat_bubble:after,
.screen.courseroom .chat_bubble:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.screen.courseroom .chat_bubble:after {
  border-color: rgba(255, 255, 204, 0);
  border-top-color: #ffffcc;
  border-width: 10px;
  margin-left: -10px;
}
.screen.courseroom .chat_bubble:before {
  border-color: rgba(153, 153, 153, 0);
  border-top-color: #999999;
  border-width: 11px;
  margin-left: -11px;
}
.screen.team .p-users,
.screen.team .p-machines,
.screen.team .p-notebook,
.screen.team .p-messages,
.screen.team .p-edge {
  position: absolute;
  bottom: 5px;
  height: 62px;
  width: 62px;
}
.screen.team .p-users {
  left: 15px;
}
.screen.team .p-machines {
  left: 82px;
}
.screen.team .p-messages {
  left: 148px;
}
.screen.team .p-notebook {
  left: 215px;
}
.screen.team .p-edge {
  right: 15px;
}
.screen.team div.table-list {
  position: absolute;
  left: 15px;
  top: 64px;
  bottom: 75px;
}
.screen.team div.table-list button {
  margin-left: 2px;
  margin-right: 2px;
}
.screen.team.team-people div.table-list {
  right: 15px;
}
.screen.team.team-messages div.table-list,
.screen.team.team-notebook div.table-list,
.screen.team.team-machines div.table-list {
  right: 50%;
}
.screen.team.team-messages div.controls,
.screen.team.team-notebook div.controls,
.screen.team.team-machines div.controls {
  position: absolute;
  top: 64px;
  bottom: 75px;
  left: 50%;
  right: 5px;
  padding-left: 5px;
}
.screen.team.team-messages div.controls .status-panel,
.screen.team.team-notebook div.controls .status-panel,
.screen.team.team-machines div.controls .status-panel {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  padding: 5px;
  background: white;
  border: solid 1px #dddddd;
}
.screen.team.team-messages div.controls .status-panel.p-status,
.screen.team.team-notebook div.controls .status-panel.p-status,
.screen.team.team-machines div.controls .status-panel.p-status {
  height: 84px;
}
.screen.team.team-messages div.controls .status-panel.p-status .icon,
.screen.team.team-notebook div.controls .status-panel.p-status .icon,
.screen.team.team-machines div.controls .status-panel.p-status .icon {
  left: 10px;
  top: 10px;
  bottom: 20px;
  width: 62px;
  position: absolute;
  font-size: 42px;
  text-align: center;
  color: #999999;
  padding-top: 5px;
}
.screen.team.team-messages div.controls .status-panel.p-status .title,
.screen.team.team-notebook div.controls .status-panel.p-status .title,
.screen.team.team-machines div.controls .status-panel.p-status .title {
  position: absolute;
  left: 80px;
  top: 10px;
  right: 10px;
  font-size: 20px;
}
.screen.team.team-messages div.controls .status-panel.p-status .label,
.screen.team.team-notebook div.controls .status-panel.p-status .label,
.screen.team.team-machines div.controls .status-panel.p-status .label {
  position: absolute;
  left: 80px;
  top: 34px;
  right: 10px;
}
.screen.team.team-messages div.controls .status-panel.p-status .progress,
.screen.team.team-notebook div.controls .status-panel.p-status .progress,
.screen.team.team-machines div.controls .status-panel.p-status .progress {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 8px;
  background-color: #dddddd;
}
.screen.team.team-messages div.controls .status-panel.p-status .progress .bar,
.screen.team.team-notebook div.controls .status-panel.p-status .progress .bar,
.screen.team.team-machines div.controls .status-panel.p-status .progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #3498db;
}
.screen.team.team-messages div.controls .control-panel,
.screen.team.team-notebook div.controls .control-panel,
.screen.team.team-machines div.controls .control-panel {
  height: 72px;
  padding-top: 10px;
}
.screen.team.team-messages div.controls .control-panel button.btn-shaded,
.screen.team.team-notebook div.controls .control-panel button.btn-shaded,
.screen.team.team-machines div.controls .control-panel button.btn-shaded {
  float: left;
  height: 62px;
  width: 62px;
  margin-right: 4px;
}
.screen.overlay-book {
  overflow: hidden;
}
.screen.overlay-book > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.screen.overlay-book > div .book-body {
  position: absolute;
  top: 0;
  bottom: 40px;
  left: 0;
  width: 100%;
}
.screen.overlay-book > div .book-body .tab {
  font-size: 14px;
  padding: 10px;
  color: white;
}
.screen.overlay-book > div .book-body .tab.tab-error {
  padding: 34px 0 0 160px;
  background: url(../img/exclamation.png) no-repeat 20px 20px;
}
.screen.overlay-book > div .book-tabs {
  position: absolute;
  bottom: 0;
  height: 40px;
  left: 0;
  width: 100%;
}
.screen.overlay-book > div .book-tabs a {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.screen.overlay-book > div .book-tabs a.cs-blue {
  background-color: #2980b9;
}
.screen.overlay-book > div .book-tabs a.cs-blue:hover,
.screen.overlay-book > div .book-tabs a.cs-blue.active {
  background-color: #3498db;
}
.screen.overlay-book > div .book-tabs a.cs-green {
  background-color: #16a085;
}
.screen.overlay-book > div .book-tabs a.cs-green:hover,
.screen.overlay-book > div .book-tabs a.cs-green.active {
  background-color: #1abc9c;
}
.screen.overlay-book > div .book-tabs a.cs-purple {
  background-color: #8e44ad;
}
.screen.overlay-book > div .book-tabs a.cs-purple:hover,
.screen.overlay-book > div .book-tabs a.cs-purple.active {
  background-color: #9b59b6;
}
.screen.overlay-book > div .book-tabs a.cs-orange {
  background-color: #d35400;
}
.screen.overlay-book > div .book-tabs a.cs-orange:hover,
.screen.overlay-book > div .book-tabs a.cs-orange.active {
  background-color: #e67e22;
}
.screen.overlay-book > div .book-tabs a.cs-red {
  background-color: #c0392b;
}
.screen.overlay-book > div .book-tabs a.cs-red:hover,
.screen.overlay-book > div .book-tabs a.cs-red.active {
  background-color: #e74c3c;
}
.screen.overlay-book > div .book-tabs a.cs-yellow {
  background-color: #f39c12;
}
.screen.overlay-book > div .book-tabs a.cs-yellow:hover,
.screen.overlay-book > div .book-tabs a.cs-yellow.active {
  background-color: #f1c40f;
}
.screen.overlay-book > div.cs-blue .book-body {
  background-color: #3498db;
}
.screen.overlay-book > div.cs-blue .book-tabs {
  background-color: #2980b9;
}
.screen.overlay-book > div.cs-green .book-body {
  background-color: #1abc9c;
}
.screen.overlay-book > div.cs-green .book-tabs {
  background-color: #16a085;
}
.screen.overlay-book > div.cs-purple .book-body {
  background-color: #9b59b6;
}
.screen.overlay-book > div.cs-purple .book-tabs {
  background-color: #8e44ad;
}
.screen.overlay-book > div.cs-orange .book-body {
  background-color: #e67e22;
}
.screen.overlay-book > div.cs-orange .book-tabs {
  background-color: #d35400;
}
.screen.overlay-book > div.cs-red .book-body {
  background-color: #e74c3c;
}
.screen.overlay-book > div.cs-red .book-tabs {
  background-color: #c0392b;
}
.screen.overlay-book > div.cs-yellow .book-body {
  background-color: #f1c40f;
}
.screen.overlay-book > div.cs-yellow .book-tabs {
  background-color: #f39c12;
}
.r-machine-overlay {
  width: 1092px;
  height: 258px;
  -webkit-transform: translate(-546px, -129px);
  -moz-transform: translate(-546px, -129px);
  -o-transform: translate(-546px, -129px);
  transform: translate(-546px, -129px);
  -webkit-pointer-events: none;
  -khtml-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
}
.r-machine-overlay > div {
  -webkit-transform: translate(-21px, -21px);
  -moz-transform: translate(-21px, -21px);
  -o-transform: translate(-21px, -21px);
  transform: translate(-21px, -21px);
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -o-border-radius: 42px;
  border-radius: 42px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: 42px;
  height: 42px;
  position: absolute;
  display: block;
  cursor: pointer;
  border-style: solid;
  border-width: 0;
  background-color: #e74c3c;
  border-color: #e74c3c;
  background-image: url(../img/iconsets.png);
  background-repeat: no-repeat;
  background-position-y: 0;
}
.r-machine-overlay > div:hover {
  -webkit-transform: translate(-27px, -27px);
  -moz-transform: translate(-27px, -27px);
  -o-transform: translate(-27px, -27px);
  transform: translate(-27px, -27px);
  border-width: 6px;
  background-color: white;
  background-position-y: -42px;
}
.r-machine-overlay > div.locked {
  -webkit-transform: translate(-21px, -21px);
  -moz-transform: translate(-21px, -21px);
  -o-transform: translate(-21px, -21px);
  transform: translate(-21px, -21px);
  border-width: 0;
  background-position-x: -336px;
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}
.r-machine-overlay > div.locked:hover {
  background-color: white;
}
.r-machine-overlay .c-beam {
  left: 140px;
  top: 150px;
  -webkit-pointer-events: auto;
  -khtml-pointer-events: auto;
  -moz-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  background-position-x: -42px;
}
.r-machine-overlay .c-issr {
  left: 219px;
  top: 101px;
  -webkit-pointer-events: auto;
  -khtml-pointer-events: auto;
  -moz-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  background-position-x: -126px;
}
.r-machine-overlay .c-hard {
  left: 298px;
  top: 141px;
  -webkit-pointer-events: auto;
  -khtml-pointer-events: auto;
  -moz-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  background-position-x: -168px;
}
.r-machine-overlay .c-remnant {
  left: 395px;
  top: 12px;
  -webkit-pointer-events: auto;
  -khtml-pointer-events: auto;
  -moz-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  background-position-x: -84px;
}
.r-machine-overlay .c-fssr {
  left: 457px;
  top: 106px;
  -webkit-pointer-events: auto;
  -khtml-pointer-events: auto;
  -moz-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  background-position-x: -126px;
}
.r-machine-overlay .c-hadr {
  left: 724px;
  top: 97px;
  -webkit-pointer-events: auto;
  -khtml-pointer-events: auto;
  -moz-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  background-position-x: -210px;
}
.r-machine-overlay .c-decay {
  left: 1013px;
  top: 97px;
  -webkit-pointer-events: auto;
  -khtml-pointer-events: auto;
  -moz-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  background-position-x: -252px;
}
.r-machine {
  width: 1092px;
  height: 258px;
  -webkit-transform: translate(-546px, -129px);
  -moz-transform: translate(-546px, -129px);
  -o-transform: translate(-546px, -129px);
  transform: translate(-546px, -129px);
}
.r-machine.active > div {
  background-image: url(../img/machine/active.png);
}
.r-machine.gray > div {
  background-image: url(../img/machine/gray.png);
}
.r-machine.gray > div.focus {
  background-image: url(../img/machine/default.png);
  z-index: 1000;
}
.r-machine > div {
  background-image: url(../img/machine/default.png);
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  position: absolute;
}
.r-machine > div.focus {
  background-image: url(../img/machine/active.png);
}
.r-machine > div.m-beam {
  width: 200px;
  height: 200px;
  background-position: 0px 0px;
  left: 0px;
  top: 0px;
}
.r-machine > div.u-pdf {
  width: 200px;
  height: 100px;
  background-position: 0px -200px;
  left: 0px;
  top: 50px;
}
.r-machine > div.u-pdf.alt-1 {
  background-position: 0px -300px;
}
.r-machine > div.u-hard {
  width: 128px;
  height: 35px;
  background-position: -200px -250px;
  left: 236px;
  top: 83px;
}
.r-machine > div.u-hard.alt-1 {
  background-position: -200px -285px;
}
.r-machine > div.u-hard.alt-1 {
  background-position: -200px -320px;
}
.r-machine > div.m-issr {
  width: 120px;
  height: 150px;
  background-position: -200px 0px;
  left: 159px;
  top: 25px;
}
.r-machine > div.m-hard {
  width: 171px;
  height: 250px;
  background-position: -330px -250px;
  left: 228px;
  top: 26px;
}
.r-machine > div.m-fssr {
  width: 195px;
  height: 100px;
  background-position: -696px -251px;
  left: 359px;
  top: 51px;
}
.r-machine > div.m-remn-up {
  width: 350px;
  height: 120px;
  background-position: -330px 0px;
  left: 219px;
  top: -28px;
}
.r-machine > div.m-remn-down {
  width: 350px;
  height: 120px;
  background-position: -330px -120px;
  left: 220px;
  top: 110px;
}
.r-machine > div.m-remn-join {
  width: 125px;
  height: 100px;
  background-position: -200px -150px;
  left: 514px;
  top: 50px;
}
.r-machine > div.m-hadr {
  width: 349px;
  height: 250px;
  background-position: -680px 0px;
  left: 598px;
  top: -25px;
}
.r-machine > div.m-decay {
  width: 194px;
  height: 101px;
  background-position: -501px -251px;
  left: 906px;
  top: 50px;
}
.tunable {
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  position: relative;
  height: 52px;
  width: 100%;
}
.tunable div.title {
  cursor: help;
  display: block;
  position: absolute;
  left: 0px;
  width: 45px;
  top: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #7f8c8d;
}
.tunable div.slider {
  display: block;
  position: absolute;
  left: 45px;
  right: 0;
  height: 30px;
}
.tunable div.slider div.draghost {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #cccccc;
}
.tunable div.slider div.draghost div.dragdealer {
  position: absolute;
  display: block;
  left: 20px;
  right: 20px;
  height: 25px;
}
.tunable div.slider div.draghost div.dragdealer div.handle {
  display: block;
  position: absolute;
  background-color: #c0392b;
  color: white;
  width: 40px;
  line-height: 25px;
  height: 25px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.tunable div.slider div.draghost div.arrow {
  position: absolute;
  display: block;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #c0392b;
}
.tunable div.slider div.draghost a {
  display: block;
  position: absolute;
  width: 20px;
  height: 30px;
  line-height: 30px;
  background-color: #16a085;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.tunable div.slider div.draghost a.minus {
  left: 0;
}
.tunable div.slider div.draghost a.plus {
  right: 0;
}
.tunable div.markers {
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
  opacity: 0.1;
  position: absolute;
  left: 65px;
  right: 20px;
  height: 16px;
  bottom: 2px;
}
.tunable div.markers div.marker {
  position: absolute;
  height: 16px;
  width: 10px;
  cursor: pointer;
}
.tunable div.markers div.marker div.arrow {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
}
.tunable div.markers div.marker div.label {
  position: absolute;
  left: 0;
  width: 10px;
  top: 5px;
  font-size: 9px;
  text-align: center;
}
.tunable:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tunable:hover div.markers {
  opacity: 1;
}
.observable-short .globe {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  z-index: 70;
  background: white;
  border: solid 2px #dddddd;
}
