
// Import common functions
@import "common.less";

///////////////////////////////////////////////
// Reusable components
///////////////////////////////////////////////

@tuning-scr-c-good 		: #2ecc71;
@tuning-scr-sz-good 	: 24px;
@tuning-scr-c-average 	: #e67e22;
@tuning-scr-sz-average 	: 40px;
@tuning-scr-c-bad		: #e74c3c;
@tuning-scr-sz-bad		: 54px;

@tuning-scr-sz-generic	: 35px;
@tuning-scr-c-grey		: #CCC;

@tuning-scr-drag-h	    : 30px;
@tuning-scr-marker-h    : 16px;
@tuning-scr-pad-v       : 2px;
@tuning-scr-title-width : 60px;
@tuning-scr-btn-width   : 20px;
@tuning-scr-arrow-h     : 5px;
@tuning-scr-slider-w    : 40px;
@tuning-scr-c-back      : #CCC;
@tuning-scr-c-slider-b  : #c0392b;
@tuning-scr-c-slider-f  : #fff;
@tuning-scr-c-button-b  : #16a085;
@tuning-scr-c-button-f  : #fff;

.screen {

	.line {
		width: 100px;
		height: 1;
		border-top: solid 1px #666;
	}

	// Header
	> h1 {
		margin: 15px 15px 0;
		color: #2c3e50;

		span.highlight {
			color: #16a085;
		}
	}

	> h1 + div.subtitle {
		color: #999;
		margin: 0 15px;
	}
	
	// ===========================
	//  Observable bubble element
	// ===========================

	.observable {
		.transition(all 0.4s);
		color: #FFF;
		position: absolute;
		text-align: center;
		cursor: pointer;
		z-index: 100;

		width: @tuning-scr-sz-generic;
		height: @tuning-scr-sz-generic;
		line-height: @tuning-scr-sz-generic;
		font-size: @tuning-scr-sz-generic/2;
		.border-radius(@tuning-scr-sz-generic);
		border: solid 2px;

		&.grey {
			color: #333;
			border-color: darken(@tuning-scr-c-grey, 10%);
			background-color: @tuning-scr-c-grey;
		}

		&.green {
			color: #FFF;
			border-color: darken(@tuning-scr-c-good, 10%);
			background-color: @tuning-scr-c-good;
		}

		&:hover {
			z-index: 110;

			&.inactive {
				opacity: 1;
				.transform( scale(1) );
			}
		}

	}

	// Ovservable indicator
	.indicator {
		position: absolute;
		width: 0;  height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		z-index: 80;
		&.val-gd {
			border-top: 10px solid @tuning-scr-c-good;
		}
		&.val-md {
			border-top: 10px solid @tuning-scr-c-average;
		}
		&.val-bd {
			border-top: 10px solid @tuning-scr-c-bad;			
		}
	}

}

.screen .pagepart {
	background-image: url(../img/pageparts.png);
	background-repeat: no-repeat;
	position: absolute;

	h1 {
		font-size: 30px;
		margin: 0; padding: 0;
		position: absolute;
	}
	p {
		font-size: 14px;
		margin: 0; padding: 0;
		position: absolute;
	}

	&.run-tl {
		background-position: 0px 0px;
		width: 145px; height: 145px;
		top: 0; left: 0;

		h1, p {
			color: #FFF;
			text-align: left;
		}
		h1 {
			width: 130px; line-height: 52px;
			left: 7px; top: 7px;
		}
		p {
			width: 59px; line-height: 18px;
			left: 7px; top: 59px;
		}
	}

	&.run-tr {
		background-position: -145px 0px;
		width: 145px; height: 145px;
		top: 0; right: 0;

		h1, p {
			color: #FFF;
			text-align: right;
		}
		h1 {
			width: 130px; line-height: 52px;
			right: 7px; top: 7px;
		}
		p {
			width: 59px; line-height: 18px;
			right: 7px; top: 59px;
		}

	}

	&.run-bl {
		background-position: -290px 0px;
		width: 145px; height: 145px;
		bottom: 0; left: 0;

		h1, p {
			color: #FFF;
			text-align: left;
		}
		h1 {
			width: 130px; line-height: 52px;
			left: 7px; bottom: 7px;
		}
		p {
			width: 59px; line-height: 18px;
			left: 7px; bottom: 59px;
		}
	}

}


// Each page has quite lot of payload, therefore
// we have splitted into various files
@import "screen-explain.less";
@import "screen-home2.less";
@import "screen-login.less";
@import "screen-register.less";
@import "screen-progress.less";
//@import "screen-tuning.less";
@import "screen-tuning2.less";
@import "screen-running.less";
@import "screen-results.less";
@import "screen-cinematic.less";
@import "screen-bsod.less";
@import "screen-ipide.less";
@import "screen-tutorial-stats.less";
@import "screen-courseroom.less";
@import "screen-team.less";
@import "screen-jobs.less";
@import "screen-menu.less";

// Overlays
@import "overlay-book.less";
@import "overlay-flash.less";
@import "overlay-histograms.less";

// Reusable components
@import "component-machine.less";
@import "component-tunable.less";
@import "component-observable-short.less";
@import "component-nav-mini.less";
