
// Import common functions
@import "common.less";

///////////////////////////////////////////////
// Tuning Screen
///////////////////////////////////////////////
.screen.tuning {

	.val-bd {
		width: 64px;
		height: 64px;
		line-height: 64px;
		font-size: 32px;
		.border-radius(64px);
		border: solid 2px #c0392b;
		background-color: #e74c3c;
	}

	.val-md {
		width: 32px;
		height: 32px;
		line-height: 32px;
		font-size: 20px;
		.border-radius(32px);
		border: solid 2px #f39c12;
		background-color: #e67e22;
	}

	.val-gd {
		width: 24px;
		height: 24px;
		line-height: 24px;
		font-size: 18px;
		.border-radius(24px);
		border: solid 2px #27ae60;
		background-color: #2ecc71;
	}

	.line {
		width: 100;
		height: 1;
		border-top: solid 1px #666;
	}

	.observable {
		.transition(all 0.4s);
		color: #FFF;
		position: absolute;
		text-align: center;
	}

}

///////////////////////////////////////////////
// Home Screen
///////////////////////////////////////////////

.screen.home {

	.home-menu {
		position: absolute;
		display: block;
		width: 400px;
		height: 400px;

		a.btn {
			display: block;
			width: 100%;
			height: 32px;
			margin: 5px 0;
			background-color: #3399FF;
			line-height: 32px;
			text-indent: 10px;
			font-size: 1.2em;
			color: #fff;
			text-decoration: none;

			&:hover {
				background-color: #70B8FF;
			}
		}
	}

}

///////////////////////////////////////////////
// Explaination Screen
///////////////////////////////////////////////

// Definitions for explain screen
@game-scr-nav-iconset-size   : 64px;
@game-scr-nav-iconset-a-size : 42px;
@game-scr-nav-iconset-border : 3px;

.screen.explain {
	padding: 0;

	.explain-top {
		height: 65%;
		margin: 0;
	}

	.explain-bottom {
		height: 35%;
		margin: 0;

		&.machine-diagram {
			background-color: #e74c3c;
			overflow: hidden;

			.icons {
				position: relative;
				.transition( ~"top 0.4s, left 0.4s" );

				.focus-bar {
					position: absolute;
					background-color: #F1948A;
					left: 0; top: 0;
					.transition( ~"top 0.2s linear, left 0.2s linear" );
				}

				.line {
					border-width: 0;
					border-style: solid;
					border-color: #c0392b;
					position: absolute;
					.transition( ~"top 0.2s linear, left 0.2s linear" );

					&.pos-straight {
						border-width: 0 0 4px 0;
					}
					&.pos-branch {
						border-width: 4px 0 0 4px;
						border-radius: 10px 0 0 0;
						&.pos-down {
							border-width: 0 0 4px 4px;
							border-radius: 0 0 0 10px;
						}
					}
					&.pos-collapse {
						border-width: 0 4px 4px 0;
						border-radius: 0 0 10px 0;
						&.pos-down {
							border-radius: 0 10px 0  0;
							border-width: 4px 4px 0 0;
						}
					}
					&.dashed {
						border-style: dashed;
					}
				}

				.icon {
					display: inline-block;
					width: @game-scr-nav-iconset-size;
					position: absolute;
					.transition( all 0.2s linear );

					&>div {
						margin-top: 5px;
						text-align: center;
						color: #c0392b;
					}

					&>a {
						width: @game-scr-nav-iconset-a-size; 
						height: @game-scr-nav-iconset-a-size;
						display: block;
						margin: 0 auto;

						background-image: url(../img/iconsets.png);
						background-repeat: no-repeat;
						background-position-x: 0;
						background-position-y: -@game-scr-nav-iconset-a-size;

						border-style: solid;
						border-color: transparent;
						border-width: @game-scr-nav-iconset-border;

						background-color: #FFF;
						.border-radius( @game-scr-nav-iconset-a-size/2 + @game-scr-nav-iconset-border );

						&:hover, &.focus {
							background-color: #fcc;
								border-color: #FFF;
						}

						&.invert {
							background-position-y: 0;
							background-color: #c0392b;

							&:hover, &.focus {
								border-color: #FFF;
							}
						}

						&.icon01 {
							background-position-x: 0;
						}
						&.icon02 {
							background-position-x: -@game-scr-nav-iconset-a-size;
						}
						&.icon03 {
							background-position-x: -@game-scr-nav-iconset-a-size*2;
						}
						&.icon04 {
							background-position-x: -@game-scr-nav-iconset-a-size*3;
						}
						&.icon05 {
							background-position-x: -@game-scr-nav-iconset-a-size*4;
						}
						&.icon06 {
							background-position-x: -@game-scr-nav-iconset-a-size*5;
						}
						&.icon07 {
							background-position-x: -@game-scr-nav-iconset-a-size*6;
						}
						&.icon08 {
							background-position-x: -@game-scr-nav-iconset-a-size*7;
						}
						&.icon09 {
							background-position-x: -@game-scr-nav-iconset-a-size*8;
						}
					}

				}
			}

		}

	}
}

///////////////////////////////////////////////
// Progress Screen
///////////////////////////////////////////////

.elastic-transition() {
	-webkit-transition: all 500ms cubic-bezier(0.515, 0, 1.000, 0); /* older webkit */
	-webkit-transition: all 500ms cubic-bezier(0.515, -0.155, 1.000, -0.340); 
	   -moz-transition: all 500ms cubic-bezier(0.515, -0.155, 1.000, -0.340); 
	     -o-transition: all 500ms cubic-bezier(0.515, -0.155, 1.000, -0.340); 
	        transition: all 500ms cubic-bezier(0.515, -0.155, 1.000, -0.340); /* custom */
}

.screen.progress {

	background-color: #FFF;

	&.hidden {
		div.logo {
			top: -400px;
		}
		div.bar-status, div.bar-progress, div.bar {
			top: 150%;
		}
	}

	div.logo {
		.elastic-transition();
		position: absolute;
		left: 50%; top: 40%;
		width: 400px;
		height: 400px;
		margin: -200px 0 0 -200px;
		background: url(../img/logo.png) no-repeat center center;
	}

	div.bar-status, div.bar-progress {
		.elastic-transition();
		position: absolute;
		top: 80%;
		margin-top: -24px;
		font-family: Tahoma, Arial;
		font-size: 12px;
		color: #999;
	}

	div.bar-status {
		left: 10px; 
	}
	div.bar-progress {
		right: 10px; 
	}

	div.bar {
		.elastic-transition();
		position: absolute;
		background-color: #eee;

		left: 0; top: 80%;
		width: 100%;
		height: 4px;

		.bar-value {
			.box-shadow( 0px 0px 10px 1px #FF9900 );
			background-color: #FF9900;
			display: block;
			margin: 1px 0;
			height: 2px;
			width: 0;
		}
	}
	
}
