
///////////////////////////////////////////////
// Home Screen
///////////////////////////////////////////////

.screen.home {

	.r-machine, .r-machine-overlay {

		position: absolute;
		left: 50%;
		top: 50%;

	}

}