
///////////////////////////////////////////////
// Explaination Screen
///////////////////////////////////////////////

@game-scr-parameter-size	 : 40px;
@game-scr-parameter-color	 : #2980b9;
@game-scr-parameter-hover-c	 : #3498db;
@game-scr-active-color	 	 : #E67E22;
@game-scr-active-hover-c	 : #F39C12;

.screen.explain {
	padding: 0;

	.explain-blackboard {
		background: #000 url(../img/blackboard.jpg) no-repeat center center;
		background-size: cover;
	}

	.explain-window {
		position: absolute;
		width: 800px;
		height: 530px;
		border-radius: 8px;
		padding: 10px;
		background-color: #34495e;

		div.explain-header {

			div.icon {
				float: left;
				width: 64px;
				height: 64px;
				background: no-repeat center center;
				background-size: contain;
			}
			h1 {
				margin: 0 0 0 75px;
				font-size: 32px;
				color: #fff;
			}
			p.subtitle {
				margin: -5px 0 0 75px;
				font-style: normal;
				font-size: 14px;
				color: #3498db;
				word-break: break-all;
				height: 36px;
				overflow: hidden;
			}

		}

		div.explain-screen {
			position: relative;
			width: 800px;
			height: 450px;
			margin-top: 8px;

			> div {
				width: 800px;
				height: 450px;

				.hotspots {
					position: absolute;
					left: 0; top: 0;
					width: 800px;
					height: 450px;

					div.hotspot {

						.transition(all 0.4s);
						position: absolute;
						display: none;
						width: @game-scr-parameter-size;
						height: @game-scr-parameter-size;
						.border-radius( @game-scr-parameter-size );
						background-color: @game-scr-parameter-color;
						cursor: pointer;

						&:after {
							content: " ";
							display: block;
							position: absolute;
							left: -8px; top: -8px;
							width: @game-scr-parameter-size + 8px;
							height: @game-scr-parameter-size + 8px;
							border: solid 4px;
							border-color: @game-scr-parameter-color;
							.border-radius( @game-scr-parameter-size + 8px );

							opacity: 0;
							.transform( scale(0.1) );
							.easing-back-in( );
						}

						h1 {
							margin: 0;
							padding: 0;
							font-size: 1.4em;
							width: @game-scr-parameter-size;
							line-height: @game-scr-parameter-size;
							text-align: center;
							color: #fff;
						}

						&:hover, &.active {

							background-color: @game-scr-parameter-hover-c;

							&:after {
								opacity: 1.0;
								border-color: @game-scr-parameter-hover-c;
								.transform( scale(1.0) );
								.easing-back-out( );
							}

						}

						&.visible {
							display: block;
						}

						&.active {
							background-color: @game-scr-active-color;
							&:after {
								border-color: @game-scr-active-color;
							}
							&:hover, &.active {
								background-color: @game-scr-active-hover-c;
								&:after {
									border-color: @game-scr-active-hover-c;
								}
							}
						}

					}



				}

			}

			&.blackboard {
				background: #000 url(../img/blackboard.jpg) no-repeat center center;
				background-size: cover;
			}
		}

	}

}

/*
// Definitions for explain screen
@game-scr-nav-iconset-size   : 64px;
@game-scr-nav-iconset-a-size : 42px;
@game-scr-nav-iconset-border : 3px;

.screen.explain {
	padding: 0;

	.explain-blackboard {
		background: #000 url(../img/blackboard.jpg) no-repeat center center;
		background-size: cover;
	}

	.explain-book {

		background-color: #3498db;
		position: absolute;
		left: 15%;
		right: 15%;
		top: 10%;
		bottom: 10%;

		// Animation for visibility
		.easing-back-in();
		.transform( scale(0.1) );
		opacity: 0;

		&.visible {
			z-index: 500;
			opacity: 1;
			.transform( scale(1) );
			.easing-back-out( );
		}

		// Colors applied both on body and on tab icons
		&.learn, .learn {
			background-color: #3498db;
		}
		&.understand, .understand {
			background-color: #8e44ad;
		}
		&.research, .research {
			background-color: #16a085;
		}

		// Title and close icon
		div.header {
			position: absolute;
			left: 0; width: 100%; top: 0;
			height: 24px;
			background-color: rgba(0,0,0,0.4);

			&>span.bullet {
				.border-radius( 8px );
				display: inline-block;
				width: 10px;
				height: 10px;
				background: #f1c40f;
				margin-left: 6px;
			}

			&>span.title {
				color: #fff;
				font-size: 14px;
				line-height: 24px;
				margin-left: 4px;
			}

			a.close {
				width: 24px;
				height: 24px;
				display: block;
				position: absolute;
				right: 0; top: 0;
				line-height: 24px;
				text-align: center;
			}

		}

		// Main body
		div.body {
			position: absolute;
			left: 0; width: 100%;
			top: 24px; bottom: 24px;
			overflow-x: hidden;
			overflow-y: auto;

		}

		// footer with tab icons
		div.footer {
			background-color: #2c3e50;
			position: absolute;
			left: 0; width: 100%; bottom: 0;
			height: 24px;
			overflow-x: hidden;

			a {
				display: inline-block;
				width: 100px;
				padding: 2px;
				height: 20px;
				color: #fff;
				text-decoration: none;
			}

		}

	}

	.explain-top {
		height: 65%;
		margin: 0;

		.parameter {

			.transition(all 0.4s);
			position: absolute;
			display: block;
			width: @game-scr-parameter-size;
			height: @game-scr-parameter-size;
			.border-radius( @game-scr-parameter-size );
			background-color: @game-scr-parameter-color;
			cursor: pointer;

			&:after {
				content: " ";
				display: block;
				position: absolute;
				left: -8px; top: -8px;
				width: @game-scr-parameter-size + 8px;
				height: @game-scr-parameter-size + 8px;
				border: solid 4px;
				border-color: @game-scr-parameter-color;
				.border-radius( @game-scr-parameter-size + 8px );

				opacity: 0;
				.transform( scale(0.1) );
				.easing-back-in( );
			}

			h1 {
				margin: 0;
				padding: 0;
				font-size: 1.4em;
				width: @game-scr-parameter-size;
				line-height: @game-scr-parameter-size;
				text-align: center;
				color: #fff;
			}

			div.title {
				display: none;

				.arrow_box {
					position: relative;
					background-color: @game-scr-parameter-color;
				}
				.arrow_box:after {
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(0, 0, 0, 0);
					border-width: 30px;
					margin-top: -30px;
				}

				&.left {
					right: 100%;
					border-right-color: @game-scr-parameter-color;
				}
				&.right {
					left: 100%;
					border-left-color: @game-scr-parameter-color;
				}

			}

			&:hover, &.active {

				background-color: @game-scr-parameter-hover-c;

				&:after {
					opacity: 1.0;
					border-color: @game-scr-parameter-hover-c;
					.transform( scale(1.0) );
					.easing-back-out( );
				}

			}

		}

	}

	.explain-bottom {
		height: 35%;
		margin: 0;

		&.machine-diagram {
			background-color: #e74c3c;
			overflow: hidden;

			.icons {
				position: relative;
				.transition( ~"top 0.4s, left 0.4s" );

				.focus-bar {
					position: absolute;
					background-color: #F1948A;
					left: 0; top: 0;
					.transition( ~"top 0.2s linear, left 0.2s linear" );
				}

				.line {
					border-width: 0;
					border-style: solid;
					border-color: #c0392b;
					position: absolute;
					.transition( ~"top 0.2s linear, left 0.2s linear" );

					&.pos-straight {
						border-width: 0 0 4px 0;
					}
					&.pos-branch {
						border-width: 4px 0 0 4px;
						border-radius: 10px 0 0 0;
						&.pos-down {
							border-width: 0 0 4px 4px;
							border-radius: 0 0 0 10px;
						}
					}
					&.pos-collapse {
						border-width: 0 4px 4px 0;
						border-radius: 0 0 10px 0;
						&.pos-down {
							border-radius: 0 10px 0  0;
							border-width: 4px 4px 0 0;
						}
					}
					&.dashed {
						border-style: dashed;
					}
				}

				.icon {
					display: inline-block;
					width: @game-scr-nav-iconset-size;
					position: absolute;
					.transition( all 0.2s linear );

					&>div {
						margin-top: 5px;
						text-align: center;
						color: #c0392b;
					}

					&>a {
						width: @game-scr-nav-iconset-a-size; 
						height: @game-scr-nav-iconset-a-size;
						display: block;
						margin: 0 auto;

						background-image: url(../img/iconsets.png);
						background-repeat: no-repeat;
						background-position-x: 0;
						background-position-y: -@game-scr-nav-iconset-a-size;

						border-style: solid;
						border-color: transparent;
						border-width: @game-scr-nav-iconset-border;

						background-color: #FFF;
						.border-radius( @game-scr-nav-iconset-a-size/2 + @game-scr-nav-iconset-border );

						&:hover, &.focus {
							background-color: #fcc;
								border-color: #FFF;
						}

						&.invert {
							background-position-y: 0;
							background-color: #c0392b;

							&:hover, &.focus {
								border-color: #FFF;
							}
						}

						&.icon01 {
							background-position-x: 0;
						}
						&.icon02 {
							background-position-x: -@game-scr-nav-iconset-a-size;
						}
						&.icon03 {
							background-position-x: -@game-scr-nav-iconset-a-size*2;
						}
						&.icon04 {
							background-position-x: -@game-scr-nav-iconset-a-size*3;
						}
						&.icon05 {
							background-position-x: -@game-scr-nav-iconset-a-size*4;
						}
						&.icon06 {
							background-position-x: -@game-scr-nav-iconset-a-size*5;
						}
						&.icon07 {
							background-position-x: -@game-scr-nav-iconset-a-size*6;
						}
						&.icon08 {
							background-position-x: -@game-scr-nav-iconset-a-size*7;
						}
						&.icon09 {
							background-position-x: -@game-scr-nav-iconset-a-size*8;
						}
					}

				}
			}

		}

	}

}

*/