/*
.keyframes(@name; @rules) {
  @-webkit-keyframes @name { @rules(); };
  @-moz-keyframes @name { @rules(); };
  @-o-keyframes @name { @rules(); };
  @keyframes @name { @rules(); }; }
*/

.screen.tuning .tuning-host {
  position: absolute;
}
.screen.tuning a {
  text-decoration: none;
}
.screen.tuning .progress-widget {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  -o-border-radius: 160px;
  border-radius: 160px;
  position: absolute;
  display: block;
  width: 156px;
  height: 156px;
  background-color: white;
  border: solid 2px #34495e;
}
.screen.tuning .progress-widget div.title,
.screen.tuning .progress-widget div.subtitle {
  color: #2c3e50;
  position: absolute;
  text-align: center;
  left: 40px;
  right: 40px;
}
.screen.tuning .progress-widget div.title {
  font-weight: 600;
  font-size: 2.2em;
  bottom: 70px;
}
.screen.tuning .progress-widget div.subtitle {
  font-size: 1.3em;
  top: 80px;
}
.screen.tuning .progress-widget div.knob {
  position: absolute;
  left: 4px;
  top: 4px;
}
.screen.tuning .progress-widget div.knob input {
  display: none;
}
.screen.tuning .progress-widget a.button {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  display: block;
  line-height: 50px;
  overflow: hidden;
  background: #ecf0f1;
  color: #c0392b;
  -webkit-mask-image: url(../img/mask-tune.svg);
  mask-image: url(../img/mask-tune.svg);
  width: 108px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  left: 24px;
  top: 106px;
}
.screen.tuning .progress-widget a.button.active,
.screen.tuning .progress-widget a.button:hover {
  top: 123px;
  background: #27ae60;
  color: white;
}
.screen.tuning .indicator {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #27ae60;
}
.screen.tuning .tunable {
  -webkit-border-radius: 74px;
  -moz-border-radius: 74px;
  -o-border-radius: 74px;
  border-radius: 74px;
  position: absolute;
  display: block;
  width: 74px;
  height: 74px;
  background-color: #34495e;
}
.screen.tuning .tunable a.button {
  position: absolute;
  display: block;
  background: url(../img/tune-icons.png) no-repeat 0px 0px;
  width: 37px;
  height: 53px;
  line-height: 53px;
  overflow: hidden;
  color: white;
}
.screen.tuning .tunable a.button.left {
  padding-left: 4px;
}
.screen.tuning .tunable a.button.right {
  text-align: right;
  padding-right: 4px;
}
.screen.tuning .val-bd {
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-size: 32px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -o-border-radius: 64px;
  border-radius: 64px;
  border: solid 2px #c0392b;
  background-color: #e74c3c;
}
.screen.tuning .val-md {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -o-border-radius: 32px;
  border-radius: 32px;
  border: solid 2px #f39c12;
  background-color: #e67e22;
}
.screen.tuning .val-gd {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  border: solid 2px #27ae60;
  background-color: #2ecc71;
}
.screen.tuning .line {
  width: 100;
  height: 1;
  border-top: solid 1px #666666;
}
.screen.tuning .observable {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: white;
  position: absolute;
  text-align: center;
}
.screen.home .home-menu {
  position: absolute;
  display: block;
  width: 400px;
  height: 400px;
}
.screen.home .home-menu a.btn {
  display: block;
  width: 100%;
  height: 32px;
  margin: 5px 0;
  background-color: #3399ff;
  line-height: 32px;
  text-indent: 10px;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}
.screen.home .home-menu a.btn:hover {
  background-color: #70b8ff;
}
.screen.explain {
  padding: 0;
}
.screen.explain .explain-top {
  height: 65%;
  margin: 0;
}
.screen.explain .explain-bottom {
  height: 35%;
  margin: 0;
}
.screen.explain .explain-bottom.machine-diagram {
  background-color: #e74c3c;
  overflow: hidden;
}
.screen.explain .explain-bottom.machine-diagram .icons {
  position: relative;
  -webkit-transition: top 0.4s, left 0.4s;
  -moz-transition: top 0.4s, left 0.4s;
  -o-transition: top 0.4s, left 0.4s;
  transition: top 0.4s, left 0.4s;
}
.screen.explain .explain-bottom.machine-diagram .icons .focus-bar {
  position: absolute;
  background-color: #f1948a;
  left: 0;
  top: 0;
  -webkit-transition: top 0.2s linear, left 0.2s linear;
  -moz-transition: top 0.2s linear, left 0.2s linear;
  -o-transition: top 0.2s linear, left 0.2s linear;
  transition: top 0.2s linear, left 0.2s linear;
}
.screen.explain .explain-bottom.machine-diagram .icons .line {
  border-width: 0;
  border-style: solid;
  border-color: #c0392b;
  position: absolute;
  -webkit-transition: top 0.2s linear, left 0.2s linear;
  -moz-transition: top 0.2s linear, left 0.2s linear;
  -o-transition: top 0.2s linear, left 0.2s linear;
  transition: top 0.2s linear, left 0.2s linear;
}
.screen.explain .explain-bottom.machine-diagram .icons .line.pos-straight {
  border-width: 0 0 4px 0;
}
.screen.explain .explain-bottom.machine-diagram .icons .line.pos-branch {
  border-width: 4px 0 0 4px;
  border-radius: 10px 0 0 0;
}
.screen.explain .explain-bottom.machine-diagram .icons .line.pos-branch.pos-down {
  border-width: 0 0 4px 4px;
  border-radius: 0 0 0 10px;
}
.screen.explain .explain-bottom.machine-diagram .icons .line.pos-collapse {
  border-width: 0 4px 4px 0;
  border-radius: 0 0 10px 0;
}
.screen.explain .explain-bottom.machine-diagram .icons .line.pos-collapse.pos-down {
  border-radius: 0 10px 0  0;
  border-width: 4px 4px 0 0;
}
.screen.explain .explain-bottom.machine-diagram .icons .line.dashed {
  border-style: dashed;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon {
  display: inline-block;
  width: 64px;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > div {
  margin-top: 5px;
  text-align: center;
  color: #c0392b;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a {
  width: 42px;
  height: 42px;
  display: block;
  margin: 0 auto;
  background-image: url(../img/iconsets.png);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: -42px;
  border-style: solid;
  border-color: transparent;
  border-width: 3px;
  background-color: white;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a:hover,
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.focus {
  background-color: #ffcccc;
  border-color: white;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.invert {
  background-position-y: 0;
  background-color: #c0392b;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.invert:hover,
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.invert.focus {
  border-color: white;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon01 {
  background-position-x: 0;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon02 {
  background-position-x: -42px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon03 {
  background-position-x: -84px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon04 {
  background-position-x: -126px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon05 {
  background-position-x: -168px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon06 {
  background-position-x: -210px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon07 {
  background-position-x: -252px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon08 {
  background-position-x: -294px;
}
.screen.explain .explain-bottom.machine-diagram .icons .icon > a.icon09 {
  background-position-x: -336px;
}
.screen.progress {
  background-color: white;
}
.screen.progress.hidden div.logo {
  top: -400px;
}
.screen.progress.hidden div.bar-status,
.screen.progress.hidden div.bar-progress,
.screen.progress.hidden div.bar {
  top: 150%;
}
.screen.progress div.logo {
  -webkit-transition: all 500ms cubic-bezier(0.515, 0, 1, 0);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -moz-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -o-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  /* custom */

  position: absolute;
  left: 50%;
  top: 40%;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
  background: url(../img/logo.png) no-repeat center center;
}
.screen.progress div.bar-status,
.screen.progress div.bar-progress {
  -webkit-transition: all 500ms cubic-bezier(0.515, 0, 1, 0);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -moz-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -o-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  /* custom */

  position: absolute;
  top: 80%;
  margin-top: -24px;
  font-family: Tahoma, Arial;
  font-size: 12px;
  color: #999999;
}
.screen.progress div.bar-status {
  left: 10px;
}
.screen.progress div.bar-progress {
  right: 10px;
}
.screen.progress div.bar {
  -webkit-transition: all 500ms cubic-bezier(0.515, 0, 1, 0);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -moz-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  -o-transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  transition: all 500ms cubic-bezier(0.515, -0.155, 1, -0.34);
  /* custom */

  position: absolute;
  background-color: #eeeeee;
  left: 0;
  top: 80%;
  width: 100%;
  height: 4px;
}
.screen.progress div.bar .bar-value {
  -webkit-box-shadow: 0px 0px 10px 1px #ff9900;
  -moz-box-shadow: 0px 0px 10px 1px #ff9900;
  -o-box-shadow: 0px 0px 10px 1px #ff9900;
  box-shadow: 0px 0px 10px 1px #ff9900;
  background-color: #ff9900;
  display: block;
  margin: 1px 0;
  height: 2px;
  width: 0;
}
