<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Atom Smasher :: Error</title>
    {% include "chunks/head-common.html" %}
	<link rel="stylesheet" href="{{ static_url("css/status.css") }}">
  </head>
  <body>

    <div class="container">
    	<div class="row">
	    	<div class="col-sm-3"></div>
	    	<div class="col-sm-6 content-focus">
	    		<h1>An error occured</h1>
	    		<p>We are sorry, but we were not able to handle your request. You can read more details about this error on the box below:</p>
	    		<pre>{{ message }}</pre>
	    		<p class="text-center">
	    			<a href="{{ reverse_url("index") }}" class="btn btn-default">
	    			Click here to continue
	    			</a>
	    		</p>
	    	</div>
	    	<div class="col-sm-3"></div>
    	</div>

    </div>

  </body>
</html>
