<!DOCTYPE html>
<html>
  <head>
    <title>LiveQ Framework Demo :: Play</title>
    {% include "chunks/head-common.html" %}
    {% include "chunks/head-liveq.html" %}
    {% include "chunks/head-ui-play.html" %}

  </head>
  <body>

    <div class="container">
      {% include "chunks/body-navbar.html" %}

      <!-- First row -->
      <div class="row">
        <div class="col-md-12 text-right">

          <div class="panel panel-default">
            <div class="panel-body">

              <h4 class="pull-left"><em>Demonstration interface of Virtual Atom Smasher</em></h4>
              <button class="btn btn-default" id="sim-intro">Show Intro</button>
              <button class="btn btn-danger" id="sim-abort">Abort</button>
              <button class="btn btn-default" id="sim-begin">Start simulation!</button>

            </div>
          </div>

        </div>
      </div>

      <!-- Second row -->
      <div class="row">

        <!-- Tunables column -->
        <div class="col-md-6" id="tunables-pane">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Tunables</h3>
              <small>Change the values here and see how your changes are reflected.</small>
            </div>
            <div class="panel-body">

                <!-- Data are appended here -->
                <div id="tunables"></div>

            </div>
            <div class="panel-footer color-legend small">
              Move your cursor over an element to see which observables it affects.
            </div>
          </div>

        </div>

        <!-- Observables -->
        <div class="col-md-6" id="observables-pane">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Observables <span id="loading-spinner" class="pull-right">
                <span class="running-text">Simulation running</small> &nbsp; <img src="{{ static_url("img/spinner.gif") }}" alt="Loading" /></span>
              </h3>
              <small>Your goal is to make sure all the icons in this group are at least yellow.</small>
            </div>
            <div class="panel-body">

                <!-- Data are appended here -->
                <div id="observables"></div>

            </div>
            <div class="panel-footer color-legend small" id="observables-legend">
              <span style="color:#669933">Perfect</span> 
              <div class="cl" style="background: #66CC00"></div>
              <div class="cl" style="background: #669933"></div>
              <div class="cl" style="background: #FF9900"></div>
              <div class="cl" style="background: #990000"></div> <span style="color:#990000">Bad</span>
              <div class="pull-right"><div class="cl" style="background: #999"></div> Not enough data</span>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="modal fade" id="sim-waiting-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Initializing simulation</h4>
          </div>
          <div class="modal-body">
            <p>Please wait a moment until we contact the worker nodes...</p>
            <div class="log"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="sim-modal-abort">Abort Simulation</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/javascript">LiveQ.UI.initLab("{{ lab_uuid }}");</script>

  </body>
</html>
