<!DOCTYPE html>
<html>
  <head>
    <title>LiveQ Framework Demo :: Play</title>
    {% include "chunks/head-common.html" %}
    {% include "chunks/head-liveq.html" %}
    {% include "chunks/head-ui-play-dev.html" %}

  </head>
  <body>

    <div id="game">
      <div id="game-window">
        <div id="game-frame">
          <div id="tunables-host" class="frame">
            
          </div>
          <div id="run-host" class="frame">
            <div id="run">
              Run
            </div>
          </div>
          <div id="results-host" class="frame">

          </div>

        </div>
      </div>
    </div>

    <script type="text/javascript">LiveQ.Play.initLab("{{ lab_uuid }}");</script>

  </body>
</html>
